/* ======= VARIABLES ======= */

:root {
  --primary-font: "Roboto", sans-serif;
  --secondaty-font: "Raleway", sans-serif;

  --primary-white-color: #f4f4fd;
  --secondary-white-color: #ffffff;
  --navyblue-color: #2e2f42;
  --iris-color: #4d5ae5;
  --ocean-color: #404bbf;
  --slate-color: #434455;
  --cornflower-color: #e7e9fc;
  --cloud-color: #f4f4fd;
}

/* ======= /VARIABLES ======= */

/* ======= COMMON ======= */

body {
  font-family: var(--primary-font);
  font-size: 16px;
  color: var(--slate-color);
  background-color: var(--secondary-white-color);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding-left: 0;
}

.list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.link {
  text-decoration: none;
}

img,
svg {
  display: block;
  max-width: 100%;
  height: auto;
}

button {
  cursor: pointer;
}

.container {
  max-width: 1158px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.section {
  padding: 60px 0;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* ======= /COMMON ======= */

/* ======= HEADER ======= */

.header-section {
  border-bottom: 1px solid var(--cornflower-color);
  background: var(--secondary-white-color);
}

.header-wrapper {
  display: flex;
  justify-content: space-between;
}

.header-nav {
  display: flex;
}

.header-link {
  margin-right: 76px;
  padding: 24px 0;
}

.header-logo {
  font-family: var(--secondaty-font);
  color: var(--iris-color);
  font-size: 18px;
  font-weight: 800;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.logo-black {
  color: var(--navyblue-color);
}

.navigation-list {
  display: flex;
  column-gap: 40px;
  align-items: center;
}

.navigation-link {
  padding: 24px 0;
  color: var(--navyblue-color);
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.navigation-link:hover,
.navigation-link:focus {
  color: var(--ocean-color);
}

.contact-list {
  display: flex;
  column-gap: 40px;
  align-items: center;
}

.contact-link {
  padding: 24px 0;
  font-family: var(--primary-font);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--slate-color);
}

.contact-link:hover,
.contact-link:focus {
  color: var(--ocean-color);
}

.contacts-item {
  display: flex;
  align-items: center;
}

.address-link {
  font-style: normal;
}

/* ======= /HEADER ======= */

/* ======= HERO ======= */

.hero-section {
  background-color: var(--navyblue-color);
  flex-direction: column;
  margin-bottom: 60px;
}

.hero-title {
  padding-bottom: 48px;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;
  color: var(--secondary-white-color);
}

.hero-wrapper {
  max-width: 496px;
  padding: 188px 0;
  margin-left: auto;
  margin-right: auto;
}

.hero-button {
  display: block;
  min-width: 169px;
  padding: 16px 32px;
  color: var(--secondary-white-color);
  font-family: var(--primary-font);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  margin-left: auto;
  margin-right: auto;

  border-radius: 4px;
  background-color: var(--iris-color);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
}

.hero-button:hover,
.hero-button:focus {
  background-color: var(--ocean-color);
}

/* ======= /HERO ======= */

/* ======= BENEFITS ======= */

.benefits-item-title {
  margin-bottom: 8px;
  color: var(--navyblue-color);
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.4px;
}

.benefits-list {
  display: flex;
  column-gap: 24px;
}

.benefits-description {
  line-height: 1.5;
  letter-spacing: 0.02em;
}

/* ======= /BENEFITS ======= */

/* ======= WHAT ARE WE DOING ======= */

.product-title {
  margin-bottom: 72px;

  color: var(--navyblue-color);
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  text-align: center;
}

.product-list {
  display: flex;
  column-gap: 24px;
}

/* ======= /WHAT ARE WE DOING ======= */

/* ======= OUR TEAM ======= */

.team-section {
  background: var(--cloud-color);
  padding-top: 120px;
  padding-bottom: 120px;
}

.team-title {
  padding-bottom: 72px;

  color: var(--navyblue-color);
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  text-align: center;
}

.team-list {
  display: flex;
  column-gap: 24px;
}

.team-item {
  background-color: var(--secondary-white-color);
}

.team-worker-name {
  margin-bottom: 8px;
  color: var(--navyblue-color);
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: center;
}

.team-worker-position-wrapper {
  margin: 24px 0;
}

.team-worker-position {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
}

/* ======= /OUR TEAM ======= */

/* ======= PORTFOLIO ======= */

.portfolio-wrapper {
  padding-top: 96px;
  padding-bottom: 120px;
}

.portfolio-navigation-list {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 24px;

  margin-bottom: 72px;
}

.portfolio-navigation {
  border: 1px solid var(--cornflower-color);
  background: var(--cloud-color);

  color: var(--iris-color);
  font-family: var(--primary-font);
  font-size: 16px;

  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  gap: 48px 24px;
}

.portfolio-card-wrapper {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 32px 16px;

  border: 1px solid var(--cornflower-color);
  border-top: 1px solid transparent;
  background: var(--secondary-white-color);
}

.portfolio-title {
  color: var(--navyblue-color);
  font-family: var(--primary-font);
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
}

.portfolio-direction {
  color: var(--slate-color);
  font-family: var(--primary-font);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.portfolio-button {
  padding: 12px 24px;

  font-family: var(--primary-font);
  background-color: var(--cloud-color);
  color: var(--iris-color);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  border: 1px solid var(--cornflower-color);

  border-radius: 4px;
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12),
    0px 2px 1px 0px rgba(0, 0, 0, 0.08), 0px 3px 1px 0px rgba(0, 0, 0, 0.1);
}

.portfolio-button:hover,
.portfolio-button:focus {
  background-color: var(--ocean-color);
  color: var(--secondary-white-color);
}

/* ======= /PORTFOLIO ======= */

/* ======= FOOTER ======= */

.main-footer {
  padding-top: 84px;
  padding-bottom: 100px;
  background-color: var(--navyblue-color);
}

.footer-wrapper {
  max-width: 264px;
}

.footer-link {
  display: inline-block;
  padding-top: 18px;
  padding-bottom: 18px;
}

.footer-logo {
  font-family: var(--secondaty-font);
  color: var(--iris-color);
  font-size: 18px;
  font-weight: 800;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.logo-white {
  color: var(--cloud-color);
}

.footer-description {
  color: var(--primary-white-color);
  font-family: var(--primary-font);
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

/* ======= /FOOTER ======= */
